<div class="main">

<div style="width:800px; margin:0 auto;">  
<ul>
    {{#each jersey}}
        <li>
            <p>{{this.id}}. {{this.movie}}</p>

            <form action="/delete?_method=DELETE" method="POST">
                <input type="hidden" name="id" value="{{this.id}}">
                <button type="submit">DELETE</button>
            </form>
        </li>
        {{/each}}
</ul>

<h2>Add a Jersey</h2>
<form method="POST" action="/create">
<textarea type="text" name="jersey"></textarea>
<button type="submit">Add Jersey</button>
</form>

<h2>Update Jersey</h2>
<form method="POST" action="/update?_method=PUT">
    <input type="text" name="id" placeholder="id">
    <textarea type="text" name="jersey" placeholder="what do you want to update this movie to?"></textarea>
    <button type="submit">Update Jersey</button>
</form>
<h2>Add a sports jersey that you wish you had</h2>
<form method="POST" action="/create">
<textarea type="text" name="jersey"></textarea>
<button type="submit">Send jersey</button>
</form>
</div>  

</div>